@** Define a rota do componente*@
@page "/criar-usuario"

@**Bibliotecas da página*@

@**Injeções de dependências*@
@inject HttpClient Http
@inject IJSRuntime JsRuntime;

<div class="row">
    <div class="col-md-6 offset-md-3 px-4">
        <div class="card">
            <div class="clard-body">
                <div class="text-center">
                    <h2>Criar Usuário</h2>
                    <p>Entre com seus dados para se cadastrar</p>
                </div>
                <hr />

                <div class="text-center mb-2">
                    <Loading IsLoading=isLoading>
                        <strong class="text-success">@mensagemSucesso</strong>
                        <strong class="text-danger">@mensagemErro</strong>
                    </Loading>
                </div>

                @** Componente para criação de formulários*@
                <EditForm Model="@request" OnValidSubmit="@OnSubmit">

                    @** Componente para ativar as validações baseadas em DataAnnotacions*@
                    <DataAnnotationsValidator />

                    <div class="mb-2 px-4">
                        <label>Nome:</label>
                        <InputText class="form-control" @bind-Value="request.Nome" />
                        <span class="text-danger">
                            <ValidationMessage For="@(() => request.Nome)" />
                        </span>
                    </div>

                    <div class="mb-2 px-4">
                        <label>Email:</label>
                        <InputText class="form-control" @bind-Value="request.Email" />
                        <span class="text-danger">
                            <ValidationMessage For="@(() => request.Email)" />
                        </span>
                    </div>

                    <div class="mb-2 px-4">
                        <label>Senha:</label>
                        <InputText type="password" class="form-control" @bind-Value="request.Senha" />
                        <span class="text-danger">
                            <ValidationMessage For="@(() => request.Senha)" />
                        </span>
                    </div>

                    <div class="mb-2 px-4 pb-4">
                        <label>Confirmar senha:</label>
                        <InputText type="password" class="form-control" @bind-Value="request.ConfirmarSenha" />
                        <span class="text-danger">
                            <ValidationMessage For="@(() => request.ConfirmarSenha)" />
                        </span>
                    </div>
                    <div class="mb-2 px-4">
                        <div class="d-grid">
                            <input type="submit" class="btn btn-primary" value="Criar usuário" />
                        </div>
                    </div>
                    <div class="mb-2 px-4">
                        <div class="d-grid">
                            <NavLink class="btn btn-light" href="">
                                Já possui conta? <strong>Acesse aqui!</strong>
                            </NavLink>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@** Código C# do componente*@
@code {
    //declarar o objeto que será utilizado para capturar o formulário
    private CriarUsuarioRequest request = new CriarUsuarioRequest();
    private string mensagemSucesso = string.Empty;
    private string mensagemErro = string.Empty;

    private bool isLoading;

    //metódo para capturar o evento de submit do formulário
    protected async Task OnSubmit()
    {
        isLoading = true;

        //limpar mensagem 
        mensagemSucesso = string.Empty;
        mensagemErro = string.Empty;

        //carregamento

        // Fazendo a requisição POST para o ENDPOINT de criação de usuário
        var response = await Http.PostAsJsonAsync("CriarUsuario", request);
        // passando o request com PostAsJsonAsync faz com que o objeto de class seja serializado para json

        //deserializando a resposta obtida da API
        var content = await response.Content.ReadFromJsonAsync<CriarUsuarioResponse>();

        //verificando a resposta obtida
        if (response.IsSuccessStatusCode)
        {
            //await JsRuntime.InvokeAsync<string>("alert", "OK!");
            mensagemSucesso = content.Mensagem;
            request = new CriarUsuarioRequest(); //limpando os campos do formulário
        }
        else
        {
            mensagemErro = content.Mensagem;
            //await JsRuntime.InvokeAsync<string>("alert", "Erro!");
        }

        isLoading = false;
    }
}
